config_schema.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
        <element name="project" xmlns="http://relaxng.org/ns/structure/1.0">
            <interleave>
                <element name="outdir">
                    <text />
                </element>

                <element name="artifacts">
                    <zeroOrMore>
                        <element name="artifact">
                            <attribute name="name" />
                            <optional>
                                <attribute name="tags" />
                            </optional>

                            <ref name="compilerOptions" />
                        </element>
                    </zeroOrMore>
                </element>

                <element name="tags">
                    <zeroOrMore>
                        <element name="tag">
                            <attribute name="name" />

                            <ref name="compilerOptions" />
                        </element>
                    </zeroOrMore>
                </element>

                <!-- <element name="stages">
                    <interleave>
                        <element name="compile">
                            <text />
                        </element>
                        <element name="link">
                            <text />
                        </element>
                        <element name="run">
                            <text />
                        </element>
                        <zeroOrMore>

                            <element name="custom">
                                <attribute name="name"></attribute>
                                <text />
                            </element>
                        </zeroOrMore>
                    </interleave>
                </element> -->
            </interleave>
        </element>
    </start>
    <define name="compilerOptions">
        <interleave>
            <zeroOrMore>
                <element name="main">
                    <text />
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="cflags">
                    <text />
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="include">
                    <text />
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="source">
                    <optional>
                        <attribute name="glob">
                            <value>true</value>
                        </attribute>
                    </optional>
                    <text />
                </element>
            </zeroOrMore>
        </interleave>
    </define>
</grammar>